EMAIL_ADDRESS=username@xyz.com
EMAIL_APP_PASSWORD=abcdefghijklmnop

MFT_KEY_PATH=C:\Users\...\abc.key
MFT_CERT_PATH=C:\Users\...\abc.crt

MFT_USERNAME=ks*****Harv
MFT_PASSWORD=~24 character password

DB_SERVER=localhost\SERVERNAME
DB_NAME=ABCOperations
