# Virtual environment and environment files
.env
.env.local
.env.*.local
.venv/
venv/
env/
myvenv/

# Re-include an example file
!.env.example

#logs and databases

*.sqlite
*.log

# Python cache and pytest cache
__pycache__/
*.pyc
.pytest_cache/
.DS_Store

etl_pipeline.egg-info/

# Ignore certificaes for MFT login
client.crt
client.key

