# Virtual environment and environment files
.venv/
venv/
env/
.env
myvenv/

# Re-include an example file
!.env.example

#logs and databases
*.sqlite
*.db
logs/
*.log

# Python cache and pytest cache
__pycache__/
*.pyc
.pytest_cache/
.DS_Store

*.egg-info/

# Data
data/

